@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;100;200;300;500;600;700;800;900&display=swap"); */




input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 cursor-not-allowed
}
button[type="submit"]:disabled, .submit:disabled {
  @apply border-0 bg-primary text-white
}


.swiper-pagination {
  position: relative !important;
  margin-top: 2px;
}

.swiper-pagination-bullet {
  background-color: #ddd;
  border: 1px solid #ccc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #febd01 !important;

}

.image-container {

  width: 40%;
  height: 50vh;


}

.image-banner {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  
}

.offer {
  border-radius: 200px 200px 200px 15px;
}